/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-style: normal;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  font-variation-settings: var(--text-font-weight);
}

.container {
  max-width: clamp(700px, 537px, 375px);
  margin: 0 auto;
  background-color: var(--bg-color);
}

/* header */

.header {
  margin: 100px auto 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 138px 0 27px;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  line-height: normal;
  text-transform: uppercase;
  font-weight: 400;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.5723rem + 2.0915vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.5993rem + 1.1765vw, 1.4375rem);
  font-weight: 400;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 9px;
}

/* header buttons */

.theme-menu__button {
  position: relative;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: inherit;
  transition: 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  left: -18px;
  opacity: 0.6;
}

/* section */

.section {
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--accent-color);
  background-color: transparent;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.section__list-item:last-child {
  margin-bottom: 54px;
}

/* articles */

.section__list-item {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.article__image-wrapper {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.article__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article__image-label {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 1px var(--label-border-color);
}

@supports((text-stroke: 1px var(--label-border-color)) or (-webkit-text-stroke: 1px var(--label-border-color))) {
  .article__image-label {
    -webkit-text-stroke:1px var(--label-border-color);
    text-stroke: 1px var(--label-border-color);
    text-shadow: none;
  }
}

.image-filter-1 {
  filter: contrast(60%);
}

.image-filter-3 {
  filter: sepia(0.5) invert(0.5%);
}

.image-filter-4 {
  filter: blur(2px);
}

.image-filter-5 {
  filter: grayscale(70%);
}

.image-filter-6 {
  filter: saturate(300%);
}

.image-filter-7 {
  filter: hue-rotate(0.2turn);
}

.image-filter-8 {
  filter: sepia(0.3);
}

.article__title {
  padding: 3px 10px;
  font-size: inherit;
  font-weight: var(--title-font-weight);
}


.article__content-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.article__text {
  font-weight: var(--text-font-weight);
  line-height: 21px;
}

/* article buttons */

.article__button-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

.card__like-button {
  display: block;
  position: relative;
  max-width: 130px;
  max-height: 38px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-hover-color);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  mix-blend-mode: difference;
}

.card__like-button:hover::before {
  transform: scaleX(1);
  color: var(--button-text-color);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s ease;
}

.button__text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

/* heart icon */

.card__icon-button {
  width: 39px;
  height: 36px;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: 0.3s ease;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.contour {
  transition: 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: 0.3s;
}

.core {
  fill: transparent;
  transition: 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-countour-color);
  transition: 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: 0.3s 0.05s;
}


.like-icon.is-liked .core {
  fill: var(--heart-main-color);
  transition: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color);
  transition: 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-blink 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
  transform-origin: center;
}


/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 105px;
}

.footer__button {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding: 15px 19px;
  transition: 0.3s ease;
}

.footer__button::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-hover-color);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  mix-blend-mode: difference;
}

.footer__button:hover::before {
  transform: scaleX(1);
  color: var(--button-text-color);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.footer__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s ease;
}

/* dialog */

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 357px;
  padding: 27px;
}

.dialog {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  position: fixed;
  inset: 0;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  position: relative;
  padding: 9px 17px;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.dialog__button::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-hover-color);
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  mix-blend-mode: difference;
}

.dialog__button:hover::before {
  transform: scaleX(1);
  color: var(--button-text-color);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.dialog__svg {
  overflow: visible;
}

/* media */

@media(width <= 375px) {
  .footer__button {
    flex-direction: column;
  }
}